#file {
  position: fixed;
  left: 25%;
  top: 5%;
  z-index: 100;
}

#canvas {
  position: fixed;
  background-color: #000;
  left: 25%;
  top: 5%;
  width: 50%;
  height: 25%;
}

audio {
  position: fixed;
  left: 25%;
  top: 30%;
  width: 50%;
}